/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
    
}




/* "Mobile first" CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
   
	background:lightgrey;
    font-size:1.5em;
    line-height:1.7em;
    word-spacing:3px;
    letter-spacing:2px;

   
}
 

#container {

    height:100%;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background:white;
   
    
    
   
    
}
main{
 background:white;
  padding:20px;

}

header {
    padding:20px;
    text-align:center;
    line-height:35px;
    font-family: 'Corben', 'Georgia', 'Times', sans-serif;
    
}
h1{
    font-size:35px;
    color:#8461c9;
}

 h2{
    font-size:20px;
}

h3{
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

nav 
{
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: auto;
    border-bottom: 3px solid lightgrey;
    border-top: 3px solid lightgrey;
}


nav a {
  
    text-decoration: none;
    background: white;
    color:black;
    padding: 12px;
    font-size:18px; 
    font-family: 'DM Mono', monospace;
    
    font-weight:bold;
}


nav a:hover {
    background-color: black;
    color:white;
}

nav li{
     list-style:none;
   

}	


figcaption,footer{
    font-size:0.75em;
    
}


/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}

.renter{
    width:70%;
    Height:100%;
    object-fit:cover;
    margin-left:100px;
   
}
.column {
  float: left;
  width: 22%;
  padding: 10px;
  

}
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}
.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
    
}
.Gallerycontainer {
  position: relative;
  display: none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
background:rgba(54, 54, 54, 0.5)
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.SG{ 
   margin:0px;
    padding: 10px;
   background:lightgrey;     
}
.rentersdata figcaption{
    font-size:6px;
    line-height:10px; 
}
.styleguide, .desktop, .phone, .logo2{
   width:100%;  
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ========================================
MEDIA QUERIES!
======================================== */

/* New CSS for tablet sizes.
You can change the pixel number below */
@media all and (min-width: 768px) {
	
#container{
        width:650px;
        margin:auto;
    background:white;
    }
    

    nav a {
        width:16.6%;
        padding:12px;
        font-size: 17px;
    }
    nav li{
          display:inline; 
    }

} /* closes 768px+ */




/* New CSS for desktop sizes.
You can change the pixel number below */
@media all and (min-width: 1024px) {
    #container{
        width:800px;
  
        
    }
  
    .logo{
        width:15%;
        float:left;
        position:relative;
    }
    main{
        float:right;
       
    }
    footer{
        clear:both;
    }
    nav li {
        width: 100%;
        border-bottom: 2px solid lightgrey;
    }
    nav a {
        margin-left: 0;
        margin-right: 0;
    }

      
 /* closes 1024px+ */





